@using BudgetBook.Data
@inject BudgetBookService budgetBookService

<button @onclick="@DeleteEntry">Delete</button>

@code {
    Entry newEntry = new Entry();
    protected async void DeleteEntry()
    {
        await budgetBookService.DeleteEntry(newEntry);
    }
}
