@using BudgetBook.Data
@inject BudgetBookService budgetBookService

<button @onclick="@OnDeleteEntry">clear</button>

@code {
    [Parameter]
    public Entry Entry { get; set; }
    [Parameter]
    public EventCallback<Entry> DeleteAllEntries { get; set; }
    private  void OnDeleteEntry()
    {
        budgetBookService.DeleteAllEntries();
         DeleteAllEntries.InvokeAsync(Entry);
        // You can perform additional actions after deletion if needed.
    }
}