@using BudgetBook.Data
@inject BudgetBookService budgetBookService

<button type="button" class="btn btn-primary mb-2 mx-sm-3" @onclick="SearchForDone">Done</button>
<button type="button" class="btn btn-danger mb-2" @onclick="SearchForUnDone">UnDone</button>

@code {
    private void SearchForDone()
    {

    }
    private void SearchForUnDone()
    {
        
    }
}
