@using BudgetBook.Data
@inject BudgetBookService budgetBookService

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                Description
            </th>
            <th>
                Amount
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (Entry entry in allEntries)
        {
            <tr>
                <td>
                    @entry.Description
                </td>
                <td>
                    @entry.Amount 
                </td>
                <td>
                    <UpdateButton EditEntry="@entry" UpdateEntry="ReloadEntry"/>
                    <DeleteButton Entry="@entry" DeleteEntry="ReloadEntry"/>
                </td>
            </tr>
        }

    </tbody>

</table>
@code {
    List<Entry> allEntries = new List<Entry>();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        allEntries = await budgetBookService.GetAllEntries();
    }
    private async void ReloadEntry()
    {
        allEntries = await budgetBookService.GetAllEntries();
    }
}
