@using BudgetBook.Data
@inject BudgetBookService budgetBookService

@if (allEntries == null)
{
    <text>Loading...</text>
}
else
{

    @foreach (Entry entry in allEntries)
    {
        <div class="d-flex justify-content-center">
            <div class="card w-100 ">
                <div class="card-body">
                    <div class="d-flex justify-content-between">

                        <div class="mr-auto p-2">
                            @entry.Description
                        </div>
                        <div class="p-2">
                            <UpdateButton EditEntry="@entry" UpdateEntry="ReloadEntry" />
                            <DeleteButton Entry="@entry" DeleteEntry="ReloadEntry" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    }
    
}


@code {
    List<Entry> allEntries = new List<Entry>();
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        allEntries = await budgetBookService.GetAllEntries();
    }
    private async void ReloadEntry()
    {
        allEntries = await budgetBookService.GetAllEntries();
    }
}
