@using BudgetBook.Data
@inject BudgetBookService budgetBookService

<button >Edit</button>

@code {
    //[Parameter]
    //public Entry Entry { get; set; }
    //[Parameter]
    //public EventCallback<Entry> DeleteEntry { get; set; }
    //private async void OnDeleteEntry()
    //{
    //    await budgetBookService.DeleteEntry(Entry);
    //    await DeleteEntry.InvokeAsync(Entry);
    //    // You can perform additional actions after deletion if needed.
    //}
}
